@import "../css/root.css";

@import "../css/instruction.css";
@import "../css/calendar.css";
@import "../css/pdf.css";

@import "module/loader.css";

@import "../css/module/footer.css";

.application{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background: #ffffff;
    color: #000000;
}





.ongletCtn{
    flex: 1;

    display: flex;
    flex-direction: column;

    position: relative;
}

.ongletSec{
    flex: 1;
    display: none;
}

.ongletSec.active{
    display: flex;

    animation: fade 1s forwards;
}

@keyframes fade {
    0%{
        opacity: 0;
    } 100%{
        opacity: 1;
    }
}